<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madminiproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Search"/>
        <activity android:name=".ForgotPassword"/>
        <activity android:name=".SignUp" />


        <activity android:name=".Myprofile" />
        <activity android:name=".Login" />
        <activity android:name=".OrderSummary"/>
        <activity android:name=".UpdateCart" />
        <activity android:name=".ShopingCart">

        </activity>
        <activity android:name=".UpdateDelate"/>
        <activity android:name=".AddItem" />
        <activity android:name=".ItemDetails" />
        <activity android:name=".itemDisplay" />
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

        <activity android:name=".PurchaseConfirmation">

        </activity>
        <activity android:name=".PaymentDetails" />
        <activity android:name=".AddPromo"/> >


        <activity android:name=".deletePromo" />
        <activity android:name=".ShippingDetails"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>